<!DOCTYPE html>
<html>
<head>
  <title>onebox</title>
  <style type="text/css">
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
  }

  img {
    max-width: 100%;
  }

  input {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
  }

  .onebox,
  .links {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  </style>
</head>
<body>
<form action="/" method="get">
  <input type="text" name="onebox" value="<%= link %>"/>

  <div class="onebox">
    <%- onebox %>
  </div>

  <div class="links">
    <% links.forEach(function(link) { %>
    <div>
      <a href="/?onebox=<%= encodeURIComponent(link) %>"><%= link %></a>
    </div>
    <% }); %>
  </div>
</form>
</body>
</html>
