<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height={{frameHeight}} src="http://music.163.com/outchain/player?type={{type}}&id={{id}}&auto=0&height={{height}}"></iframe>
